aiofiles
aiohttp
dnspython
ffmpeg-python
gitpython
httpx[http2]==0.25.2
motor
Pillow>=10.3.0
psutil
git+https://github.com/pytgcalls/pytgcalls.git@0.9.7
pytgcrypto
kurigram
python-dotenv
pyyaml
requests
uvloop; sys_platform != "win32"
yt-dlp
